* {
  box-sizing: border-box;
}

:root {
  --border-color: #291d4d;
  --dialog-background: #fff3b4;
  --menu-background: #ffe8d2;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

body {
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  outline: 1px solid whitesmoke;
  margin: 0 auto;

  transform: scale(2) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}
